:root {
  --font-family: "Open Sans";
  --content-width: 1260px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white: #fff;
  --black: #000;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Bank-gothic;
  src: url(../fonts/bank_gothic_medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

.page {
  height: 100%;
  font-family: var(--font-family,sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background-repeat: round;
  background-color: #232222;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-reset {
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

._lock {
  overflow: hidden;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.header {
  position: absolute;
  padding: 20px 70px 15px;
  width: 100%;
  z-index: 600;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  outline: 0;
  display: inline-block;
  width: 140px;
  height: 70px;
}

.header__logo:focus {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 0;
  font-weight: 700;
  letter-spacing: 1px;
  width: 180px;
  height: 44px;
  margin-right: 25px;
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
  -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
  transition: background-color .3s ease-in-out,color .3s ease-in-out;
}

.header__btn:focus {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

.header__btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.header__link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__close {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  outline: 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav__link::before {
  position: absolute;
  content: "";
  bottom: -4px;
  border: 2px solid var(--white);
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
}

.nav__link:focus {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

.nav__link:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.nav--active {
  opacity: 1!important;
  visibility: visible!important;
  z-index: 1000;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: 0;
  font-weight: 700;
  letter-spacing: 1px;
  color: inherit;
  width: 180px;
  height: 44px;
  background-color: var(--black);
  border: 1px solid var(--white);
  border-radius: 5px;
  -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
  transition: background-color .3s ease-in-out,color .3s ease-in-out;
}

.modal-btn:focus {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

.modal-btn:hover {
  color: var(--black);
  background-color: var(--white);
}

.hero {
  position: relative;
}

.hero__container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

.hero__text {
  text-align: center;
}

.hero__title {
  font-family: Bank-gothic;
  font-weight: 500;
  font-size: 60px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 20px;
  text-shadow: #000 1px 0 10px;
}

.hero__subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 40px;
  text-shadow: #000 1px 0 10px;
}

.hero__jb {
  position: relative;
  font-size: 130px;
  line-height: 105px;
  letter-spacing: -18px;
}

.hero__jb::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 48%;
  width: 10px;
  height: 70%;
  background-color: var(--white);
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .5;
}

.hero .swiper-slide {
  background-position: center;
  background-size: cover;
}

.hero .swiper-slide img {
  height: 100%;
  display: block;
  width: 100%;
}

.hero__social {
  position: fixed;
  bottom: 100px;
  right: 60px;
  left: inherit;
  z-index: 500;
  width: 60px;
  height: 60px;
}

.hero__lable {
  position: relative;
  background-color: var(--black);
  width: 60px;
  height: 60px;
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  -webkit-animation: 2s .8s infinite pulse;
  animation: 2s .8s infinite pulse;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.hero__lable::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.hero__lable::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--white);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.hero__lable:focus {
  outline: 2px solid var(--white);
  outline-offset: 3px;
}

.hero__lable:hover {
  background-color: var(--white);
}

.hero__lable:hover svg {
  fill: var(--black);
}

.hero__lable:hover::after,
.hero__lable:hover::before {
  background-color: var(--black);
}

.hero__svg-1 {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 45px;
  height: 42px;
  fill: var(--white);
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity .3s ease-in-out,visibility .3s ease-in-out,fill .3s ease-in-out,-webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out,transform .3s ease-in-out,fill .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.hero__svg-2 {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 25px;
  height: 25px;
  fill: var(--black);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(.1);
  -ms-transform: scale(.1);
  transform: scale(.1);
  -webkit-transition: opacity .3s ease-in-out,visibility .3s ease-in-out,-webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.hero__link {
  position: absolute;
  top: 0;
  left: 7px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  -webkit-transition: opacity .3s,visibility .3s,-webkit-transform .3s;
  transition: opacity .3s,visibility .3s,transform .3s,-webkit-transform .3s;
}

.hero__soc-name {
  position: absolute;
  top: 10px;
  left: -100px;
  padding: 6px 13px;
  font-size: 13px;
  border-radius: 3px;
  background: var(--white);
  color: var(--black);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}

.hero__soc-name::after {
  content: ">";
  position: absolute;
  top: -8px;
  bottom: 20px;
  font-size: 37px;
  color: var(--white);
  width: 15px;
  height: 15px;
}

.none {
  background-color: var(--white);
}

.none::after,
.none::before {
  display: none;
}

.opacity {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(.1);
  -ms-transform: scale(.1);
  transform: scale(.1);
}

.opacity-2 {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hero__link:hover .hero__soc-name {
  opacity: 1;
  visibility: visible;
}

.social-opened .hero__link:nth-child(2) {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  transform: translateY(-60px);
}

.social-opened .hero__link:nth-child(3) {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
}

.social-opened .hero__link:nth-child(4) {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-180px);
  -ms-transform: translateY(-180px);
  transform: translateY(-180px);
}

.social-opened .hero__link:nth-child(5) {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  transform: translateY(-240px);
}

@-webkit-keyframes pulse {
  0%, 50% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }

  25% {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
  }
}

@keyframes pulse {
  0%, 50% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
  }

  25% {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
  }
}

.about {
  position: relative;
  padding: 60px 0;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(0,-100%);
  -ms-transform: translate(0,-100%);
  transform: translate(0,-100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(35,34,34,0)),to(#232222));
  background: linear-gradient(180deg,rgba(35,34,34,0) 5%,#232222 100%);
  z-index: 20;
}

.about::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -webkit-transform: translate(0,100%);
  -ms-transform: translate(0,100%);
  transform: translate(0,100%);
  background: linear-gradient(1deg,rgba(35,34,34,0) 5%,#232222 100%);
  pointer-events: none;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about__content {
  width: 50%;
}

.about__title {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 30px;
}

.about__descr {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 20px;
}

.about__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__btn-box svg {
  width: 45px;
  height: 45px;
  fill: var(--white);
  -webkit-animation: 1.5s infinite anim;
  animation: 1.5s infinite anim;
}

.about__btn {
  margin-right: 20px;
}

.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.about__item {
  text-align: center;
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}

.about__item span {
  display: inline-block;
  font-size: 14px;
  color: #afaeae;
  margin-bottom: 5px;
}

.about__item svg {
  width: 100px;
  height: 100px;
}

.about__min-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 10px;
}

.about__min-descr {
  line-height: 20px;
  letter-spacing: .5px;
  color: #afaeae;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  50% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.interiors {
  padding: 80px 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#141e30),to(#2d1f47));
  background: linear-gradient(#141e30,#2d1f47);
}

.interiors__container {
  padding: 50px 0;
  height: 140px;
  background-image: url(../img/svg-picture.svg);
  background-repeat: no-repeat;
  background-position-x: 170px;
  position: relative;
  z-index: 10;
}

.interiors__video-box {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.interiors__video {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.interiors .swiper {
  padding-bottom: 50px;
}

.interiors .swiper-pagination-bullet {
  width: 50px;
  border-radius: 5px;
}

.interiors .swiper-button-next,
.interiors .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,70px);
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
}

.interiors .swiper-button-prev,
.interiors .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset,70px);
  width: 50px;
  height: 50px;
  background-color: var(--white);
  border-radius: 50%;
}

.interiors .swiper-button-next.swiper-button-disabled,
.interiors .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.interiors .swiper-button-next::after,
.interiors .swiper-button-prev::after {
  font-size: 30px;
  color: var(--black);
}

.interiors .swiper-pagination-bullet-active {
  background-color: #000;
}

.menu {
  position: relative;
  padding: 60px 0;
}

.menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  -webkit-transform: translate(0,-100%);
  -ms-transform: translate(0,-100%);
  transform: translate(0,-100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,rgba(35,34,34,0)),to(#232222));
  background: linear-gradient(180deg,rgba(35,34,34,0) 5%,#232222 100%);
  z-index: 20;
  pointer-events: none;
}

.menu__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 50px;
}

.menu__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px;
  row-gap: 40px;
}

.menu__hookah {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__hookah:nth-child(1) {
  background-image: url(../img/hookah.svg);
}

.menu__hookah:nth-child(2) {
  background-image: url(../img/cocktails.svg);
}

.menu__hookah:nth-child(3) {
  background-image: url(../img/sok.svg);
}

.menu__hookah:nth-child(4) {
  background-image: url(../img/cola.svg);
}

.menu__hookah:nth-child(5) {
  background-image: url(../img/smoothie.svg);
}

.menu__hookah:nth-child(6) {
  background-image: url(../img/dessert.svg);
}

.menu__hookah:nth-child(7) {
  background-image: url(../img/tea.svg);
}

.menu__hookah:nth-child(8) {
  background-image: url(../img/coffee.svg);
}

.menu__title-h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
}

.menu__item-title,
.menu__price {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.menu__addition,
.menu__descr {
  line-height: 20px;
  color: #afaeae;
}

.menu__header {
  margin-bottom: 30px;
}

.menu__article {
  margin-bottom: 20px;
}

.menu__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content 1fr max-content max-content;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content 1fr max-content max-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__dots {
  border-bottom: 1px dashed #afaeae;
  margin: 0 10px;
  height: 16px;
}

.menu__addition {
  margin-right: 10px;
}

.contact {
  padding-top: 60px;
}

.contact__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.contact__title-h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact__address,
.contact__descr {
  line-height: 20px;
  color: #afaeae;
  font-style: normal;
}

.contact__link {
  color: inherit;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.contact__link:focus {
  outline: 2px solid var(--white);
  outline-offset: 2px;
}

.contact__link:hover {
  color: var(--white);
}

.contact #map {
  width: 100%;
  height: 400px;
}

.contact__img {
  width: 100px;
  height: 100px;
}

[class*=copyrights-pane] {
  display: none!important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.8);
  z-index: 700;
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
}

.modal__main {
  position: relative;
  max-width: 600px;
  background-color: #ececec;
  color: var(--black);
  margin: auto;
  padding: 30px;
  cursor: default;
  border-radius: 5px;
}

.modal__close {
  outline: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
}

.modal__close:focus {
  outline: 2px solid var(--black);
  outline-offset: 2px;
}

.modal__close:hover {
  text-shadow: 1px 1px 2px #070707;
}

.modal__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.modal__descr {
  line-height: 25px;
  margin-bottom: 15px;
}

.form__input-box {
  position: relative;
  margin-bottom: 20px;
}

.form__input {
  border: none;
  outline: 0;
  width: 100%;
  height: 60px;
  border: 1px solid var(--black);
  background-color: transparent;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  margin-bottom: 5px;
  border-radius: 5px;
}

.form__input::-webkit-input-placeholder {
  font-size: 16px;
}

.form__input::-moz-placeholder {
  font-size: 16px;
}

.form__input:-ms-input-placeholder {
  font-size: 16px;
}

.form__input::-ms-input-placeholder {
  font-size: 16px;
}

.form__input::placeholder {
  font-size: 16px;
}

.form__input:focus,
.form__input:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
}

.form__input-data {
  max-width: 245px;
}

.form__label {
  position: absolute;
  top: -8px;
  left: 15px;
  padding: 0 5px;
  background-color: #ececec;
  font-size: 14px;
}

.form__btn {
  outline: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  width: 100%;
  height: 60px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  outline: 2px solid var(--black);
  -webkit-transition: background-color .3s ease-in-out,color .3s ease-in-out;
  transition: background-color .3s ease-in-out,color .3s ease-in-out;
}

.form__btn:focus {
  outline-offset: 2px;
}

.form__btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.just-validate-error-field {
  border-color: #b81111;
}

.go-top {
  position: fixed;
  outline: 0;
  right: 60px;
  bottom: 30px;
  background-color: var(--white);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  z-index: 500;
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  display: none;
}

.go-top svg {
  fill: #000;
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.go-top:focus {
  outline: 2px solid var(--white);
  outline-offset: 3px;
}

.go-top:hover {
  background-color: var(--black);
}

.go-top:hover svg {
  fill: var(--white);
}

.go-top--show {
  display: block;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.footer {
  padding: 10px 0;
}

@media (max-width:1080px) {
  .header__logo {
    margin-right: 15px;
  }

  .header {
    padding: 20px 20px 15px;
  }

  .header__burger {
    outline: 0;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
  }

  .header__close {
    position: absolute;
    display: block;
    color: #fff;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .nav__item {
    text-align: center;
  }

  .nav__link {
    font-size: 28px;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #222;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .hero__social {
    right: 20px;
  }

  .about__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2,1fr);
  }

  .interiors__container {
    background-position-x: 40px;
  }

  .interiors .swiper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .interiors .swiper-button-next,
  .interiors .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,20px);
  }

  .interiors .swiper-button-prev,
  .interiors .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,20px);
  }

  .menu__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact__title-h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .go-top {
    right: 20px;
  }
}

@media (max-width:860px) {
  .about__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .about__content {
    width: 100%;
    margin-bottom: 30px;
  }

  .about__btn-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width:660px) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 20px;
  }

  .header__link-btn {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .about {
    padding: 40px 0;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .about__descr {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .about__min-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .about__min-descr {
    font-size: 14px;
  }

  .interiors {
    padding: 40px 0;
  }

  .interiors__container {
    background-size: 90% 70px;
    background-position-x: 10px;
    height: 100px;
  }

  .interiors__video-box {
    height: 400px;
  }

  .menu {
    padding: 40px 0;
  }

  .menu__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .menu__wrapper {
    row-gap: 20px;
  }

  .menu__hookah {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }

  .menu__title-h3 {
    font-size: 20px;
  }

  .menu__item-title,
  .menu__price {
    font-size: 14px;
    line-height: 20px;
  }

  .menu__addition,
  .menu__descr {
    font-size: 14px;
  }

  .menu__header {
    margin-bottom: 15px;
  }

  .menu__item {
    -ms-grid-columns: -webkit-max-content 1fr -webkit-max-content;
    -ms-grid-columns: max-content 1fr max-content;
    grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content 1fr max-content;
  }

  .menu__addition {
    -ms-grid-row: 2;
    grid-row: 2;
    font-size: 14px;
  }

  .contact {
    padding-top: 30px;
  }

  .contact__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .contact__img {
    width: 60px;
    height: 60px;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .form__input::-moz-placeholder {
    font-size: 14px;
  }

  .form__input:-ms-input-placeholder {
    font-size: 14px;
  }

  .form__input::-ms-input-placeholder {
    font-size: 14px;
  }

  .form__input::placeholder {
    font-size: 14px;
  }

  .form__input {
    height: 50px;
    font-size: 16px;
  }

  .form__input-data {
    max-width: 100%;
  }

  .form__btn {
    font-size: 16px;
  }
}

@media (max-width:410px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header__logo {
    display: none;
  }

  .header__btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 10px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .header__btn {
    margin-right: 0;
  }

  .about__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .menu__addition,
  .menu__descr {
    font-size: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .modal__descr {
    font-size: 14px;
    line-height: 20px;
  }
}